<tr id="<%= dom_id book %>">
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.genre %></td>
  <td><%= book.isbn %></td>
  <td><%= book.total_copies %></td>
  <% if librarian_signed_in? %>
    <td>
      <%= link_to "Edit this book", edit_book_path(book) %> |
      <%= link_to "Destroy this book", book, data: { turbo_method: :delete } %>
    </td>
  <% end %>
  <% if member_signed_in? %>
    <td>
      <%= form_with(url: borrowing_add_path) do |f| %>
        <%= f.hidden_field :id, value: book.id %>
        <%= f.submit "Add to borrowing cart" %>
      <% end %>
    </td>
  <% end %>
</tr>
