<tr id="<%= dom_id book %>">
  <td><%= book.title %></td>
  <td><%= book.author %></td>
  <td><%= book.genre %></td>
  <td><%= book.isbn %></td>
  <td><%= book.total_copies %></td>
  <% if librarian_signed_in? %>
    <td>
      <%= link_to "Edit", edit_book_path(book) %> |
      <%= link_to "Delete", book, data: { turbo_method: :delete } %> |
      <%= link_to "See Borrowings", book_borrowings_path(book), data: { turbo: false } %>
    </td>
  <% end %>
  <% if member_signed_in? %>
    <td>
      <%= form_with(url: add_borrowings_path) do |f| %>
        <%= f.hidden_field :id, value: book.id %>
        <%= f.submit "Add to borrowing cart" %>
      <% end %>
    </td>
  <% end %>
</tr>
