
<% if member_signed_in? %>
  <%= render partial: "borrowing/borrowing" if @render_borrowing %>
<% end %>

<h1>Books</h1>

<% if librarian_signed_in? %>
  <%= link_to "New book", new_book_path %>  
<% end %>

<%= form_with url: books_path, method: :get do |f| %>
  <%= f.label :search_value, "Search by title, author or genre" %>
  <%= f.text_field :search_value, value: params[:search_value] %>
  <%= f.button "Search" %>
<% end %>
</p>
<div id="books">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>ISBN</th>
        <th>Total copies</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
    </tbody>
  </table>
</div>